{% extends 'base.html.twig' %}

{% block title %} Регистрация {% endblock %}

{% block body %}
    <div class="container">
    <div class="map-container">
<form method="post" class="form-style" action="{{ path('user_register') }}" style="margin: 15% auto">
    <h1 class="h3 mb-3 font-weight-normal">Зарегистрируйтесь!</h1>
    <label for="inputEmail">Email</label>
    <input type="email" placeholder="Email Адрес" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputEmail">Password</label>
    <input type="password" placeholder="Пароль" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <br>
    <button class="button" type="submit" style="width: 100%">
        Зарегистрироваться
    </button>
    <br>
        Зарегистрированы? <a href="{{ path('app_login') }}"> Войти </a>
</form>
    </div>
    </div>
{% endblock %}