{% extends 'user/user.html.twig' %}

{% block title %}Редактирование маркера{% endblock %}

{% block body %}
<div class="container">
    <div class="map-container">
        <p> Редактирование маркера </p>
    {{ include('map/_form.html.twig', {'button_label': 'Обновить'}) }}
    </div>
</div>
{% endblock %}
